.git/
**/ags/types/
**/ags/node_modules/
**/package-lock.json
**/lazy-lock.json
**/neovide_backtraces.log
vifm/.config/vifm/vifminfo.json
ags/.config/ags/_colors.scss
ags/.config/ags/style.css
hypr/.config/hypr/hyprland-colors.conf
kitty/.config/kitty/kitty.conf
nvim/.config/nvim/lua/colors-def.lua
rofi/.config/rofi/colors.rasi
cava/.config/cava/config
kitty/.config/kitty/colors.conf
wpg/.config/wpg/wallpapers
wpg/.config/wpg/.current
wpg/.config/wpg/wp_init.sh
wpg/.config/wpg/samples
wpg/.config/wpg/templates/_colors.scss
wpg/.config/wpg/templates/cava_config
cava/.config/cava/config
wpg/.config/wpg/templates/colors-def.lua
wpg/.config/wpg/templates/colors.conf
wpg/.config/wpg/templates/hyprland-colors.conf
wpg/.config/wpg/sequences
lazygit/.config/lazygit/state.yml
