$color0: #0B1219;
$color1: #B1525F;
$color2: #5C4F5D;
$color3: #583648;
$color4: #1A5569;
$color5: #B37888;
$color6: #3C7489;
$color7: #a9bcc3;
$color8: #192a3c;
$color9: #f6596f;
$color10: #815b84;
$color11: #7b3c5e;
$color12: #197291;
$color13: #fc88a7;
$color14: #419cbe;
$color15: #e0f9ff;
$color0_alpha: rgba(11,18,25,0.9);
$color1_alpha: rgba(177,82,95,0.9);
$color2_alpha: rgba(92,79,93,0.9);
$color3_alpha: rgba(88,54,72,0.9);
$color4_alpha: rgba(26,85,105,0.9);
$color5_alpha: rgba(179,120,136,0.9);
$color6_alpha: rgba(60,116,137,0.9);
$color7_alpha: rgba(169,188,195,0.9);
$color8_alpha: rgba(25,42,60,0.9);
$color9_alpha: rgba(246,89,111,0.9);
$color10_alpha: rgba(129,91,132,0.9);
$color11_alpha: rgba(123,60,94,0.9);
$color12_alpha: rgba(25,114,145,0.9);
$color13_alpha: rgba(252,136,167,0.9);
$color14_alpha: rgba(65,156,190,0.9);
$color15_alpha: rgba(224,249,255,0.9);
$alpha: 90;
